.gallery img,.box img{
    width: 70%;
}

  .intro,.gallery,.box{
        
     
        
    }


   

   .countdown i ,.countdown p{
    font-size: 5px;
   }

   .countdown h1{
    font-size: 10px;
   }