*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    text-decoration: none;
    
}

:root{
    --primarycolor:white;
    --secondarycolor:rgb(81, 211, 81);
    --textcolor:gray;var
/* }
 html,body{
    overflow-x: hidden;
}  */


/* sticky button styling starts */

.sticky{
    width: 70px;
    height: 70px;
    background-color:var(--secondarycolor);
     border-radius: 50%; 
    position:fixed;
    bottom: 20px;
    right:20px;
     }

.up{
    position: relative;
    top:20px;
    left:16px;
    color: white;font-size: 30px;
}
    






/* sticky button styling end */

.wrapper{
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  
}
                                  /* header start */

header {
    width: 95%;        
    position: fixed;  
        top: 0;             
    left: 0;            
    z-index: 1000;      
}


.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 70px;
    color: var(--primarycolor);
    position: fixed;
    padding:0 1em;

}

.header .logo{
    flex-grow: 2;
    padding: 2em;

}

.header nav{
    flex-grow: 5;
    display: flex;
    justify-content:space-evenly ;
}

.header nav a {
    color: var(--primarycolor);
    justify-content: space-between;

}

.header .logo .white{
 font-weight: bolder;
 font-size: x-large;
}

.header .logo .green{
    font-weight: bolder;
 font-size: xx-large;
 color: var(--secondarycolor);
}

nav a:hover{
    color: var(--secondarycolor);
}

.menu{
    display:none;
}
                                         /* header end */

/* 1st conatiner start  */

.intro,.box{
    margin-top:70px;
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    height:100%;
    background-image:url(./images/main.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;}
    

 .intro .content,.box .content{
  width: 40%;
  padding:20px;
  
 }


 .intro #homepage{
    color:var(--primarycolor);
 }

 .intro #LANDING,.intro p  {
  color: rgb(201, 195, 195);
  margin: 10px;
 }

.intro img{
    z-index: 1;
}
                         /*  button styling */
 .intro .content button ,.box .content button,.box2 button{
    width: 100px;
    height: 50px;
    margin-top: 20px;
 }
                         /* white button styling strats */
.intro .content .download, .box .content .download{
    background-color: transparent;
    border: 1px solid rgb(83, 221, 83);
    color:var(--secondarycolor);
    width: 180px;
    cursor: pointer;
    font-size: larger;
    border-radius: 5px;
}

.intro .content .download:hover,.box .content .download:hover{
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    border: 0;
}          /* white button styling ends */
          /* green button styling start */

.intro .content .discover,.box .content .discover,.box2 button{
    width: 180px;
    font-size:medium;
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor:pointer;
}
.intro .content .discover:hover,.box .content .discover:hover,.box2 button:hover{
    box-shadow: 2px 2px 2px 5px rgb(81, 211, 81);
}

                    /* green button styling ends */
.img{
    margin-top: 80px;
}
/* content head start */

.contenthead{
    text-align: center;
    margin: 2em;
    font-size:x-large;
}

.contenthead h2,.box1 h1{
    font-weight: bold;
    text-align: center;
    color:black;
}

.contenthead span,.box1 span{
    color: var(--secondarycolor);
}

.contenthead p{
    color:var(--textcolor);
}
                                            /* content head ends */
                                            /* gallery start */
.gallery{
display: flex;
justify-content:space-evenly;
border-bottom: 1px solid gray;
}

.gallery .details{
    width: 40%;
    margin-top: 5em;
}


.gallery .details p{
    padding:1em 0;
    color:var(--textcolor);
    
}

.gallery img{
    margin-top:10%;
    
}


.box{
    background-image: none;
    
    margin: 2em 0;
}


.box img{
    margin-top: 5px;
}


.box .content p {
  color: var(--textcolor);
  padding: 2em 0;
}

.countdown{
    color:var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/backgroundimg2.avif);
    padding:3em;
    
   }

   .countdown .load   , .countdown .rated{
       margin-right:3em;
   }

   .countdown i ,.countdown p{
    font-size: 40px;
   }

   .countdown h1{
    font-size: 80px;
   }
  
   /* box 1 */

   .box1{
    text-align: center;
    padding: 2em;
    margin: 2em;
   }

   .box1 p{
    margin-top:10px;
    color:rgb(85, 78, 78);
   }


   






.background{
    background-color:black
}

.background i, .background h3{
color: var(--primarycolor);
}
      /* box2 styling */
.box2{
    background-image:url(./images/backgroundimg2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 4em;
    
}

.box2 p{
    color: rgb(71, 62, 62);
    margin-top: 2em;
}





